.header{
  display:flex;
  flex-flow: nowrap row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 50%;
  z-index: 10;
  transform: translateX(-50%);
  max-inline-size: 1200px;
  inline-size: 100vw;
  padding-inline: calc(100vw - 1200px);
  padding-block: 20px;
  background-color: var(--header-bg);
  box-shadow: 2px 2px 5px rgba(17, 17, 17, 0.25);

  .logo{
  background-image: url('/logo.png');
  background-size: contain;
  inline-size: 60px;
  block-size: 60px;

  .return_home{
    display: block;
    inline-size: 60px;
    block-size: 60px;
    }
  }

  .nav{
    display:flex;
    flex-flow: nowrap row;
    gap: 20px;

  }
  
  .linkPage{
    font-size: var(--sm);
    font-weight: var(--lg);
    align-content: center;
    color: var(--header-link);
    text-decoration: none;
  }
  
  .linkPage:hover{
      font-weight: var(--bl);
      color: var(--basic);
      border-bottom: 2px solid var(--basic);
  }
  
  .themeBtn{
    display:flex;
    flex-flow: nowrap row;
    justify-content: center;
    align-items: center;
    inline-size: 35px;
    block-size: 35px;
    padding: 4px;
    box-sizing: border-box;
    border-radius: 100%;
    border: none;
  }

  .dark{
    background-color: var(--deep);
  }

  .returnTop{
    background-color: var(--gray);
  }
}



